<!DOCTYPE html>
<html lang="en">


<div class="container">
<div class = "col-md-8 offset-2 box">
  <h1>Burgers</h1>
  <img id="buns" src="./assets/img/burgerbun.jpg">
<h2>Burgers that have not been devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
     <li>
       <p>
        {{burger_name}}
      </p>
     </li>

     {{/unless}}
     {{/each}}
</ul>

</div>

<div class="col-md-8 offset-2 box"> 
<form class="create-form addBurger">

  <div class="form-group">
    <input  type="text" name="name" class="form-control" id = "burgerName" placeholder="Burger Name"></input>

  </div>

  <button type="submit" class = "btn btn-primary">Add Burger</button>
</form>
</div>



<div class= "col-md-8 offset-2 box">
<h2>Burgers that have been devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <li>
        <p>{{burger_name}}</p>
      </li>  
    {{/if}}
  {{/each}}
</ul>
</div>
</div>
